/* Main dashboard layout */
.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}


.dashboard section, .dashboard aside {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.account-summary {
    grid-column: 1 / 3; /* Spans first two columns */
}

.account-summary h2, .bills h2, .quick-actions h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.2em;
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.account a{
    text-decoration: none;
}

.account span:first-child {
    flex-grow: 1;
}

.account span + span {
    margin-right: auto;
}

.view-button {
    padding: 5px 15px;
    margin-left: 20px; 
    background-color: #992100; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bills {
    grid-column: 1 / 3; /* Spans first two columns */
}

.bill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.bill button {
    background: #992100;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.more-bills {
    background: none;
    color: #992100;
    border: none;
    padding: 5px;
    cursor: pointer;
    text-align: left;
}


.quick-actions {
    background: #fff;
}

.quick-actions ul {
    list-style: none;
    padding: 0;
}

.quick-actions li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}


.applications button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Transaction dashboard layout */

.transactions-dashboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.recent-transactions {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recent-transactions h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.2em;
}

.transaction-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.transaction-item:last-child {
    border-bottom: none;
}

.transaction-amount-neg {
    color: #bc2900; 
}

.transaction-amount-pos {
    color: #007814; 
}

.transaction-date {
    color: #5d5d5d; 
}

.view-more {
    text-decoration: none;
    color: #000000; 
    font-size: 0.8em;
}

/* Investment Dashboard */

.investment-dashboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.investment-accounts, .buy-sell-stocks {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.investment-accounts h2, .buy-sell-stocks h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.2em;
}

.account, .account-total {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.account:last-child, .account-total:last-child {
    border-bottom: none;
}

.stock-form > label, .stock-form > select, .stock-form > input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.buy-sell-options label {
    display: inline-block;
    margin-right: 10px;
}

.buy-sell-options input[type="radio"] {
    margin-right: 5px;
}

.stock-form button {
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.investment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.investment-item:last-child {
    border-bottom: none;
}

.investment-item span {
    display: block;
}

.account, .investment-items {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
}

.account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold; 
}


/* Transfers Dashboard */

.transfer-funds-dashboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.recent-transfers, .send-e-transfer {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recent-transfers h2, .send-e-transfer h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
    font-size: 1.2em;
}

.account, .transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.account:last-child, .transaction:last-child {
    border-bottom: none;
}

.send-e-transfer form {
    display: flex;
    flex-direction: column;
}

.send-e-transfer label {
    margin-top: 10px;
}

.send-e-transfer select, .send-e-transfer input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.send-e-transfer button {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Chat Support Dashboard */

.chat-support-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    padding: 20px;
}

.chat-support {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-support h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#chatSupportForm {
    display: flex;
    flex-direction: column;
}

#chatSupportForm label {
    margin-bottom: 5px;
}

#chatSupportForm select,
#chatSupportForm textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#chatSupportForm button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* Add responsiveness */
@media (max-width: 768px) {
    .dashboard, .transactions-dashboard, .investment-dashboard, .transfer-funds-dashboard, .chat-support-container {
        grid-template-columns: 1fr;
    }

    .account-summary, .bills, .quick-actions, .applications, .send-e-transfer, .buy-sell-stocks {
        grid-column: auto;
    }
}


